body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FAED26;
    }
  
label{
      padding: 15px;
      color:#ffffff;
      margin-right: 30px;
      margin-bottom: 30%;
}

form {
    border: 3px solid #f1f1f1;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    align-self: center;
    justify-items: start;
    border-radius: 15px;
    column-fill: balance;
    column-width: 100%;
    column-span: all;
}
textarea{
    padding: auto;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
}
input[type=text]{
    padding: 10px;
    width: 30%;
    margin: 8px 0;
    border-radius: 30px;
}
input[type=date]{
    padding: 10px;
    width: 30%;
    margin: 8px 0;
    border-radius: 20px;
}
input:hover{
    border-color: aqua;
}
  
  button {
    /* background-color: #FEF9C7; */
    /* color: #19181A; */
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background: linear-gradient(54.7deg,  #960ead 12%,#0ad8c7 100%);
    color: #fff;
    box-shadow: 0 1px 3px rgba(155, 50, 50, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 10%;
}        
button:hover{
    border-radius: 50px 50px 100px 100px;
}
button:active {
            transition: all 500ms ease-in-out;
            background: linear-gradient(54.7deg, #0ad8c7 12%,#960ead 100%);
            box-shadow: 0 10px 20px rgba(142, 190, 10, 0.19), 0 6px 6px rgba(241, 240, 240, 0.23);
        }